services:
  processing:
    build: .
    ports:
      - "8001:8001"
    environment:
      - TESSERACT_CMD=tesseract
      - TESSDATA_PREFIX=/usr/share/tesseract-ocr/5/tessdata
      - HW_SEGMENTER_CKPT=/workspace/weights/segmenter/segmenter.ckpt
      - HW_INPAINT_WEIGHTS=/workspace/weights/inpaint/lbam.pth
    volumes:
      - ./weights:/workspace/weights
      

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage