services:
  processing:
    build: .
    image: docscan-processing:latest
    ports:
      - "8001:8001"
    env_file:
      - ./.env
    environment:
      - TESSERACT_CMD=tesseract
      - TESSDATA_PREFIX=/usr/share/tesseract-ocr/5/tessdata
      - HW_SEGMENTER_CKPT=/workspace/weights/segmenter/segmenter.ckpt
      - HW_INPAINT_WEIGHTS=/workspace/weights/inpaint/lbam.pth

      - WPI_HW_URL=http://wpi_hw:8002/internal/remove-handwriting

      # IMPORTANT when running in docker
      - QDRANT_URL=http://qdrant:6333
    volumes:
      - ./weights:/workspace/weights
    depends_on:
      - qdrant

  wpi_hw:
    build: ./wpi_hw
    image: wpi-hw:latest
    gpus: all
    environment:
      - INTERNAL_TOKEN=${INTERNAL_TOKEN}

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage

  cloudflared:
    image: cloudflare/cloudflared:latest
    depends_on:
      - processing
    restart: unless-stopped
    command: tunnel --config /etc/cloudflared/config.yml run
    volumes:
      - ./cloudflared/config.yml:/etc/cloudflared/config.yml:ro
      - ./cloudflared/creds.json:/etc/cloudflared/creds.json:ro
