services:
  processing:
    build: .
    ports:
      - "8001:8001"
    environment:
      - TESSERACT_CMD=tesseract
      - TESSDATA_PREFIX=/usr/share/tesseract-ocr/5/tessdata
      - HW_SEGMENTER_CKPT=/workspace/weights/segmenter/segmenter.ckpt
      - HW_INPAINT_WEIGHTS=/workspace/weights/inpaint/lbam.pth

      # MUST match gateway PYTHON_INTERNAL_TOKEN
      - INTERNAL_TOKEN=super-secret-dev-token

      # IMPORTANT when running in docker
      - QDRANT_URL=http://qdrant:6333

      # If your indexing uses embeddings
      - GEMINI_API_KEY=YOUR_GEMINI_KEY
      - GEMINI_EMBED_MODEL=gemini-embedding-001
    volumes:
      - ./weights:/workspace/weights

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage